<!DOCTYPE HTML>
<html>
<head>
    <title>Stuff store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/addcase" method="post">
        <div><label> Name : <input type="text" name="name"/> </label></div>
        <div><input type="submit" value="Add"/></div>
    </form>
    <a href="/">Back to main page</a>
</div>

</body>
</html>