<!DOCTYPE HTML>
<html>
<head>
    <title>Stuff store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align="center">
    <h2>FULL PATH</h2><br>
</div>
{{#path}}

{{/path}}
</body>
</html>