<!DOCTYPE HTML>
<html>
<head>
    <title>Stuff store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div align="center">
    <form method="post">
        <h2>STUFF STORE</h2><br>

        <input type="radio" name="type" value="Thing" style="display:inline-block;"> Thing<Br>
        <input type="radio" name="type" value="Case" style="display:inline-block;"> Case<Br>
        <p>
            <input type="text" name="wind" size="40" >
        </p>
        <input type="submit" value="Искать">
        <input type="radio" name="act" value="Name" style="display:inline-block;"> Name<Br>
        <input type="radio" name="act" value="inCase" style="display:inline-block;"> inCase<Br>
    </form>
</div>

</body>

</html>