<!DOCTYPE HTML>
<html>
<head>
    <title>Stuff store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align="center">
    <h2>STUFF LIST</h2><br>
</div>
{{#cases}}
    <div>
        <form action="path" method="post">
            <b>{{name}}</b>
            <input type="submit" value="Перейти" class="link" />
        </form>
    </div>
{{/cases}}
<a href="/">Back to main page</a>
</body>
</html>