<!DOCTYPE HTML>
<html>
<head>
    <title>Stuff store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align="center">
    <h2>STUFF LIST</h2><br>
</div>
{{#things}}
    <div>
        <b>{{name}}</b>
        <span>{{count}}</span>
    </div>
{{/things}}
</body>
</html>